<div class="body_wrap">
  <!-- 상당 공통 -->
  <header>
    <div class="gnb_wraptop" ng-include="'partials/navbar'"></div>
  </header>
  <!-- 콘텐츠 -->
  <article class="content">
    <div class="model_login">
      <form action="" class="login_area" name="form" ng-submit="login(form)" novalidate>
        <ul class="from_wrap">
          <li class="inbox">
            <label>
              <span class="lab_txt">User name or Email</span>
              <span class="ipt_ty1 w1">
                <input name="email" type="text" placeholder="" ng-model="user.email">
              </span>
            </label>
          </li>
          <li class="inbox">
            <label>
              <span class="lab_txt">Password(forgot?)</span>
              <span class="ipt_ty1 w1">
                <input name="password" type="password" placeholder="" ng-model="user.password">
              </span>
            </label>
          </li>
          <li class="btbox"><button type="submit" class="btn_loginok">In</button></li>
        </ul>
        <ul>
          <li></li>
          <li></li>
        </ul>
        <ul class="sns_login">
          <li class="sup_facebook"><a href="">Login with Facebook</a></li>
          <li class="sup_twitter"><a href="">Login with Twitter</a></li>
        </ul>
        <div class="btn_group"><a href="#dd"  type="submit" class="btn_joinus">Not a member: JONIN US!</a></div>
      </form>
    </div>
  </article>
  <!-- 하단 -->
  <footer>
    <div class="footer_wrap">
    </div>
  </footer>
</div>