<div class="body_wrap">
  <!-- 상당 공통 -->
  <header>
    <div class="gnb_wraptop">
      <h1><a href="##">로고</a></h1>
      <div class="gnb_category">
        <a href="##" class="gnb_txt active">PlAYGROUND</a>
        <a href="##" class="gnb_txt">FEATURED</a>
        <a href="##" class="gnb_txt">LATEST</a>
        <span class="ipt_box1"><input type="text" placeholder="xxx"></span>
      </div>
      <div class="login_off" style="display:block;">
        <a href="##" class="btn_signup">SIGNUP</a>
        <a href="##" class="btn_login">LOGIN</a>
      </div>
      <div class="login_on">
        <a class="btn_img btn_notice" href="##"><span></span></a>
        <a class="btn_img btn_message" href="##"><span></span></a>
        <a class="btn_img btn_upload" href="##"><span>Upload</span></a>
        <a class="btn_profile" href="##"><span></span></a>
        <!-- 프로필 이미지가 있을때  <a class="btn_profile" href="##"><span style="background-image:url(../profile/1.jpg);"></span></a> -->
        <ul class="logon_infobox">
          <li><a href="##">MYGROUND</a></li>
          <li><a href="##">SETTING</a></li>
          <li><a href="##">LOGOUT</a></li>
        </ul>
      </div>
    </div>
    <nav class="gnb_wrapbottom basic_focus"><!-- basic_focus, left_focus, right_focus -->
      <div class="lft_group">
        <div class="group_wrap">
          <ul>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/1.jpg);"></a><span class="txtbox">1namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/2.jpg);"></a><span class="txtbox">2namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/3.jpg);"></a><span class="txtbox">3namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/4.jpg);"></a><span class="txtbox">4namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/1.jpg);"></a><span class="txtbox">5namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/2.jpg);"></a><span class="txtbox">6namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/3.jpg);"></a><span class="txtbox">7namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/4.jpg);"></a><span class="txtbox">8namename</span></li>
          </ul>
        </div>
      </div>
      <div class="cen_group">
        <ul>
          <li class="btn_manbox active">
            <a href="##" class="radiusbox" style="background-image:url(../profile/10.png)"></a><span class="txtbox">namename</span>
          </li>
        </ul>
      </div>
      <div class="rgt_group">
        <div class="group_wrap">
          <ul>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/5.jpg)"></a><span class="txtbox">1namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/6.png)"></a><span class="txtbox">2namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/7.jpg)"></a><span class="txtbox">3namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/8.jpg)"></a><span class="txtbox">4namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/5.jpg)"></a><span class="txtbox">5namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/6.png)"></a><span class="txtbox">6namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/7.jpg)"></a><span class="txtbox">7namename</span></li>
            <li class="btn_manbox"><a href="##" class="radiusbox" style="background-image:url(../profile/8.jpg)"></a><span class="txtbox">8namename</span></li>
          </ul>
        </div>
      </div>
      <a class="btn_arrow_left" href="##">좌</a>
      <a class="btn_arrow_right" href="##">우</a>
    </nav>
    <div class="gnb_prinfo">
      <ul class="idaddress_box">
        <li>Goh Minji</li>
        <li>Seoul, Korea</li>
        <li>Art</li>
      </ul>
      <p  class="about_box">
        Hello Hello Hello<br>
        ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
      </p>
      <ul class="condition_box">
        <li><strong>2142</strong> <span>Checks</span></li>
        <li>142 <span>Following</span></li>
        <li>142 <span>Followrs</span></li>
      </ul>
      <a href="##" class="btn_edit">Edit</a>
    </div>
  </header>
  <!-- 콘텐츠 -->
  <article class="content">
    <a href="" class="btn_gridtype">그리드 보기</a>
    <a href="" class="btn_listtype">리스트 보기</a>
    <section class="content_gridwrap">
      <article class="cont_group">
        <div class="thumbnail_box">
          <div class="img" style="background-image:url(../img/sam.png);"><img src="../img/sam.png" alt="이미지"></div>
          <div class="btn_play"><span></span></div>
          <dl class="cont_txt">
            <dt>ttttt</dt>
            <dd>ccccccccccccc cccccccccccccccccccccc ccccccccccc cccccccccc ccccccccccccccc</dd>
          </dl>
        </div>
      </article>
      <article class="cont_group">
        <div class="thumbnail_box">
          <div class="img" style="background-image:url(../img/sam.png);"><img src="../img/sam.png" alt="이미지"></div>
          <div class="btn_view"></div>
          <dl class="cont_txt">
            <dt>ttttt</dt>
            <dd>ccccccccccccccccccccccccccc cccccccccccccccccc ccccccccccccccc cccccccccccc</dd>
          </dl>
        </div>
      </article>
      <article class="cont_group">
        <div class="thumbnail_box">
          <div class="img" ></div>
        </div>
      </article>
      <article class="cont_group">
        <div class="thumbnail_box">
          <div class="img" style="background-image:url(../img/sam.png);"><img src="../img/sam.png" alt="이미지"></div>
          <div class="btn_play"><span></span></div>
          <dl class="cont_txt">
            <dt>ttttt</dt>
            <dd>ccccccccccccc cccccccccccccccccccccc ccccccccccc cccccccccc ccccccccccccccc</dd>
          </dl>
        </div>
      </article>
      <article class="cont_group">
        <div class="thumbnail_box">
          <div class="img" style="background-image:url(../img/sam.png);"><img src="../img/sam.png" alt="이미지"></div>
          <div class="btn_view"></div>
          <dl class="cont_txt">
            <dt>ttttt</dt>
            <dd>ccccccccccccccccccccccccccc cccccccccccccccccc ccccccccccccccc cccccccccccc</dd>
          </dl>
        </div>
      </article>
      <article class="cont_group">
        <div class="thumbnail_box">
          <div class="img" ></div>
        </div>
      </article>
    </section>
    <section class="content_listwrap">
      <article class="cont_group">
        <!-- 왼쪽원 버튼 -->
        <div class="myphoto_box">
          <a href="" class="radiusbox" style="background-image:url(../profile/10.png)"></a>
          <span class="txtbox">Gohnminji</span>
        </div>
        <!-- 작품 및 댓글 -->
        <div class="mycnt_box">
          <!-- 작품 -->
          <div class="mycnt_img"></div>
          <!-- 좋아요 -->
          <div class="likebox_wrap">
            <div class="like_box f-r">
              <a href="" class="like_off">좋아요버튼</a><span class="txt_group"><strong class="txt1">XXX</strong> and <strong class="txt2">98 others</strong> checked this</span>
            </div>
          </div>
          <!-- 설명 -->
          <dl class="mycnt_info">
            <dt>titleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</dt>
            <dd>dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</dd>
          </dl>
          <!-- 댓글 -->
          <div class="comment_wrap">
            <ul>
              <li>
                <a href="" class="radiusbox" style="background-image:url(../profile/10.png)"></a>
                <span class="input_ty1 f-l"><input type="text" placeholder="Add a comment" /></span>
                <a href="" class="btn_comment">Commnet</a>
              </li>
              <li>
                <a href="" class="radiusbox" style="background-image:url(../profile/10.png)"></a>
                <span class="input_ty1 f-l"><span class="comment_txt">good work</span></span>
                <!-- < a href="" class="btn_comment">Commnet</a> -->
              </li>
            </ul>
            <a href="" class="btn_viewmore">View more</a>
          </div>
        </div>
      </article>
    </section>
  </article>
  <!-- 하단 -->
  <footer>
    <div class="footer_wrap">
    </div>
  </footer>
</div>